<form [formGroup]="surverForm">
  <div class="content" [formGroup]="surverForm.get('checkboxFormGroup')">
    <h3>mat-checkbox</h3>
    <div>
      <div>平時的消費娛樂?</div>
      <!--[indeterminate] 得知選項為 (全部選取,全部取消)=false /(部分選取)=true-->
      <!--checkAllChange($event) 點擊後為全選取/全取消-->
      <mat-checkbox [indeterminate]="indeterminateSelectedPayFor"
                    (change)="checkAllChange($event)" formControlName="payForAll">全部</mat-checkbox>
      <mat-checkbox formControlName="book" (change)="payForChange()" color="primary">書籍</mat-checkbox>
      <mat-checkbox formControlName="movie" (change)="payForChange()" color="accent">電影</mat-checkbox>
      <mat-checkbox formControlName="voice" (change)="payForChange()" color="warn">音樂</mat-checkbox>
      <div>[indeterminate]選取狀態:{{indeterminateSelectedPayFor}}</div>
    </div>
  </div>
  <div class="content subcontent" [formGroup]="surverForm.get('radioFormGroup')">
    <h3>mat-radio</h3>
    <div>對於Angular的評價是? {{angularRadioValue}}</div>
    <mat-radio-group formControlName="angularFeelScore">
      <mat-radio-button [value]="1" color="primary" (click)="angularRadioGroupClick('超討厭')">超討厭</mat-radio-button>
      <mat-radio-button [value]="2" (click)="angularRadioGroupClick('討厭')">討厭</mat-radio-button>
      <mat-radio-button [value]="3" (click)="angularRadioGroupClick('普通')">普通</mat-radio-button>
      <mat-radio-button [value]="4" (click)="angularRadioGroupClick('喜歡')">喜歡</mat-radio-button>
      <mat-radio-button [value]="5" color="warn" (click)="angularRadioGroupClick('超喜歡')">超喜歡</mat-radio-button>
    </mat-radio-group>
    <div>對於Angular Material評價是?</div>
    <mat-radio-group formControlName="angularMaterialScore">
      <mat-radio-button [value]="1">超討厭</mat-radio-button>
      <mat-radio-button [value]="2" color="primary">討厭</mat-radio-button>
      <mat-radio-button [value]="3" color="warn">普通</mat-radio-button>
      <mat-radio-button [value]="4" color="primary">喜歡</mat-radio-button>
      <mat-radio-button [value]="5">超喜歡</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="content subcontent" [formGroup]="surverForm.get('slidetoggleFormGroup')">
    <h3>mat-slidetoggle</h3>
    <div>是否訂閱Angular電子報??</div>
    <mat-checkbox (change)="subscribeAll=!subscribeAll">{{subscribeAll?'全訂閱':'全取消'}}</mat-checkbox>
    <br />
    <mat-slide-toggle formControlName="subscribeAngular" [checked]="subscribeAll" color="primary">Angular訂閱</mat-slide-toggle>
    <mat-slide-toggle formControlName="subscribeAngularMaterial" [checked]="subscribeAll" color="warn">Angular Material訂閱</mat-slide-toggle>
    <mat-slide-toggle formControlName="subscribeYellowBook" [checked]="subscribeAll">小黃書訂閱</mat-slide-toggle>
  </div>
</form>
