<div class='main-nav' ng-show="true">
  <!--navbar-expand-lg remove-->
  <nav class='navbar navbar-dark bg-dark d-flex flex-column'>
    <div class="navbar-header p-0">
      <a class='navbar-brand' [routerLink]='["/"]'>AngularCoreMaterial2018</a>
      <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='#navbarNav' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='navbar-toggler-icon'></span>
      </button>
    </div>
    <div class='clearfix p-2'></div>
    <div id="navbarNav" class='navbar-collapse collapse p-0' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav flex-column'>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]' class="nav-link" (click)='collapse()'>
            <span class='fas fa-home'></span> Home
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/counter"]' class="nav-link" (click)='collapse()'>
            <span class='fas fa-sort-amount-up'></span> Counter
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/fetch-data"]' class="nav-link" (click)='collapse()'>
            <span class='fas fa-database'></span> Fetch data
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/material-element"]' class="nav-link" (click)='collapse()'>
            <!--<i class="material-icons">
      web
      </i>MaterialElement-->
            <!--HTML Material ICON-->
            <mat-icon>web</mat-icon>MaterialElement <!--MatIconModule-->
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/material-sidenav"]' class="nav-link" (click)='collapse()'>
            <mat-icon>important_devices</mat-icon>Material-sidenav <!--MatSidenavModule-->
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/material-stepper"]' class="nav-link" (click)='collapse()'>
            <mat-icon>compare_arrows</mat-icon>Material-stepper <!--MatStepperModule-->
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/material-input"]' class="nav-link" (click)='collapse()'>
            <mat-icon>input</mat-icon>Material-input <!--MatStepperModule-->
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/material-datepicker"]' class="nav-link" (click)='collapse()'>
            <mat-icon>date_range</mat-icon>Material-datepicker <!--MatDatepickerModule-->
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/material-select"]' class="nav-link" (click)='collapse()'>
            <mat-icon>select_all</mat-icon>Material-select <!--MatDatepickerModule-->
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/material-formfield"]' class="nav-link" (click)='collapse()'>
            <mat-icon>text_format</mat-icon>Material-formfield <!--MatFormFieldModule-->
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/material-checkbox-radio-slidetoggle"]' class="nav-link" (click)='collapse()'>
            <mat-icon>collections</mat-icon>Material-checkbox-radio-slidetoggle <!--MatCheckboxModule,MatRadioModule,MatSlideToggleModule-->
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/material-slider"]' class="nav-link" (click)='collapse()'>
            <mat-icon>short_text</mat-icon>Material-slider <!--MatSliderModule-->
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/material-gridlist"]' class="nav-link" (click)='collapse()'>
            <mat-icon>grid_on</mat-icon>Material-gridlist <!--MatGridListModule-->
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/material-chip-tooltip-snackbar"]' class="nav-link" (click)='collapse()'>
            <mat-icon>live_help</mat-icon>Material-chip-tooltip-snackbar <!--MatChipsModule-->
          </a>
        </li>
        <!--<li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
  <a [routerLink]='["/material-progress"]' class="nav-link" (click)='collapse()'>
    <mat-icon>loop</mat-icon>Material-progress <!--MatProgressBarModule,MatProgressSpinnerModule-->
        <!--</a>
  </li>-->
      </ul>
    </div>
  </nav>
</div>
